.header {
  margin-top: 60px;
  height: 520px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lora', serif;
  color: #444;
}

.headerTitleSm {
  color: white;
  position: absolute;
  top: 25%;
  font-size: 20px;
}

.headerTitleLg {
  color: white;
  position: absolute;
  top: 27%;
  font-size: 100px;
}
p {
  color: rgb(199, 199, 199);
  margin-top: 13rem;
  text-align: center;
}
